/* Coolors Exported Palette - coolors.co/bdcbed-8096ce-4b6dc3-1e3d8c-092363 */

/* Mono chromatique/
$color1: hsla(223%, 57%, 84%, 1);
$color2: hsla(223%, 44%, 65%, 1);
$color3: hsla(223%, 50%, 53%, 1);
$color4: hsla(223%, 65%, 33%, 1);
$color5: hsla(223%, 83%, 21%, 1);
$color6: hsla(223%, 16%, 26%, 1);
$color7: hsla(223%, 35%, 14%, 1);

/* RGB */
$color1: rgba(189, 203, 237, 1);
$color2: rgba(128, 150, 206, 1);
$color3: rgba(75, 109, 195, 1);
$color4: rgba(30, 61, 140, 1);
$color5: rgba(9, 35, 99, 1);
$color6: rgba(55, 61, 76, 1);
$color7: rgba(23, 30, 48, 1);






/* Coolors Exported Palette - coolors.co/673c4f-8096ce-4b6dc3-efc7c2-f5dddd */

/* Bordeau, bleu et sable */
$color1: hsla(333%, 26%, 32%, 1);
$color2: hsla(223%, 44%, 65%, 1);
$color3: hsla(223%, 50%, 53%, 1);
$color4: hsla(7%, 58%, 85%, 1);
$color5: hsla(0%, 55%, 91%, 1);
$color6: hsla(20%, 6%, 9%, 1);

/* RGB */
$color1: rgba(103, 60, 79, 1);
$color2: rgba(128, 150, 206, 1);
$color3: rgba(75, 109, 195, 1);
$color4: rgba(239, 199, 194, 1);
$color5: rgba(245, 221, 221, 1);
$color6: rgba(25, 23, 22, 1);